{% extends 'templates/app.twig' %}

{% block content %}
	<h1>{{ subscriber.msisdn }}</h1>
	{% if subscriber.status != 'Success' %}
		<div class="panel panel-danger">
		  <div class="panel-heading">
		    <h3 class="panel-title">Subscriber {{ subscriber.status|lower }}</h3>
		  </div>
		  <div class="panel-body">
		    Error code {{ subscriber['errorCode'] }}: {{ subscriber['errorDescription'] }}
		  </div>
		</div>
	{% elseif subscriber.status ==  'Success' %}
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h3 class="panel-title">Subscriber {{ subscriber.status|lower }}</h3>
		  </div>
		  <div class="panel-body">
		  	Network code:
		    <div class="well well-sm">
			  {{ subscriber.networkCode }}
			</div>
		  	Country name:
		    <div class="well well-sm">
			  {{ subscriber.countryName }}
			</div>
		  	Country code:
		    <div class="well well-sm">
			  {{ subscriber.countryCode }}
			</div>
		  	Network:
		    <div class="well well-sm">
			  {{ subscriber.network }}
			</div>
		  	Network type:
		    <div class="well well-sm">
			  {{ subscriber.networkType }}
			</div>
		  	Ported:
		    <div class="well well-sm">
			  {{ subscriber.ported }}
			</div>
		  </div>
		</div>
	{% endif %}
{% endblock %}